.Header {
  display: flex;
  justify-content: space-between;
}
.Header-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 30px;
  margin: 0 0 0 0.5em;
}
.Header-alert {
  color: #d6d6d6;
  font-size: 14px;
  margin-left: 5px;
}
 /* #fdab73 #fe6c6d */
.Header a {
  text-decoration: none;
  color: #fc816b;
}
