@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #d4d4d4;
  font-family: 'Open Sans', sans-serif;
  background-color: #29282d;
}

.Main {
  padding: 10px;
  grid-template-columns: minmax(auto, 980px);
  display: grid;
  justify-content: center;
}
