.Products-items {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  background-color: #29282d;
  padding: 5rem;
  text-decoration: none;
  grid-row-gap: 3rem;
  border-radius: 5px;
  margin: 0 0 20px 0;
  position: relative;
  border: 1px solid rgb(96, 96, 96);
  background-color: #29282d;
}

.Products-item {
  background: #2e2e30;
}
.Products-item:nth-child(2n) {
  background: #333335;
}

.Products-item-info {
  padding: 10px;
}

.Products-item-info h2 {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.Products-item-info h2 span {
  color: #33b13a;
}

.Products-item-info p {
  font-size: 14px;
  font-weight: 300;
}

.Products-item img {
  width: 100%;
  height: 150px;
  border-radius: 5px 5px 0 0;
  object-fit: contain;
}

.Products-item button {
  background: linear-gradient(to bottom, #fdab73 5%, #fe6c6d 100%);
  width: 40%;
  height: 1.7rem;
  margin-top: 5px !important;
  border-radius:5%;
  border: 0px;
  outline: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  /* margin: 0 auto; */
  margin-left: 60%;
}

.Products-item button:hover {
  background-color: rgba(39, 44, 49, 0.06);
}

.Product-item-info {
  background-color: #29282d;
  padding: .5rem;
  display: flex;
  flex-direction: column;
}

.Product-item-info h2 {
  font-size: 1rem;
}

.Product-item-info p {
  font-size: 1rem;
  margin: 0;
  font-size: 0.8rem;
}